/* Mobile Menu */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Desktop menu */
@media screen and (min-width: 960px) {
    .item {
        display: inline;
        width: 100px;
    }

    .menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .item.button {
        order: 10;
        background-color: blue;
        padding: 0;
        margin-right: 1rem;
    }

    .logo {
        flex-grow: 100;
    }

    .toggle {
        display: none;
    }
}